---
layout: default
<!-- layout: page -->
permalink: /archive/poems
title: Wiersze
desc: Zapis dawnych poszukiwań poetyckich
bg_img: panteon.jpg

---

<main class="site__content">
  <section class="blog">
    <div class="container">
      <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

        {% for post in site.poems %}
          {% include poem_card.html %}
        {% endfor %}

        <!-- {% include pagination.html %} -->
      </div>
    </div>
  </section>
</main>
