---
layout: default
featured-img: background_dixit #optional - if you want you can include hero image
title: Ostukiwanie rzeczywistości
bg_img: panteon
permalink: "/"


---

<main class="site__content">
  <section class="blog">
    <div class="container">
      <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

        {% for post in paginator.posts %}
          {% include card.html %}
        {% endfor %}

        <!-- {% include pagination.html %} -->
      </div>
    </div>
  </section>


</main>
