---
layout: default
---

<div class="hero lazyload" data-bg="{{ site.url }}{{ site.baseurl }}{{ site.img_url }}{{ site.hero_img }}"
>
  <div class="hero__wrap">
    <h1 class="hero__title">{{ site.title | escape }}</h1>
    <p class="hero__meta">{{ site.tagline }}</p>
  </div>
</div>

<main class="site__content">
  <section class="blog">
    <div class="container">
      <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

        {% for post in paginator.posts %}
          {% include card.html %}
        {% endfor %}

        <!-- {% include pagination.html %} -->
      </div>
    </div>
  </section>
</main>
